<?xml version="1.0" encoding="UTF-8"?>
<semiramis xmlns="com.cisag.app.purchasing.obj.SupplierConfirmation" created="{{ timestamp }}" locale="en-US-XMLSchemaCompliant" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" nlsMode="SINGLE_LANGUAGE" dateTimeMode="NORMALIZED">
  <SupplierConfirmation xmlns="com.cisag.app.purchasing.obj.SupplierConfirmation">
    <supplierConfirmationData>
      {# Header-Daten: Referenznummer und Datum #}
      <salesConfirmation>{{ data.SupplierConfirmation.supplierConfirmationData.salesConfirmation }}</salesConfirmation>
      <date>
        <value>{{ data.SupplierConfirmation.supplierConfirmationData.date.value }}</value>
      </date>
    </supplierConfirmationData>
    
    <invoiceSupplierData>
      <SupplierPartner>
        {# Achtung: Hier muss die injizierte Nummer stehen #}
        <number>{{ data.SupplierConfirmation.invoiceSupplierData.SupplierPartner.number }}</number>
      </SupplierPartner>
    </invoiceSupplierData>
    
    <invoicingData>
      <PaymentTerms></PaymentTerms>
    </invoicingData>

    <Correspondence>
      <number>{{ data.SupplierConfirmation.Correspondence.number }}</number>
    </Correspondence>
    
    <Type>
        <code>{{ data.SupplierConfirmation.Type.code }}</code>
    </Type>
    
    {# Iteration über die Positionsliste #}
    {% for item in data.SupplierConfirmation.Details %}
    <Details>
      <sequence>{{ item.sequence }}</sequence>
      {# Python Logic Reminder: Hier sollte der Wert x10 bereits berechnet sein #}
      <number>{{ item.number }}</number>
      
      <totalQuantity>
        {# Python Logic Reminder: Hier sollte die 0-Setzung bei Dezimalstellen bereits passiert sein #}
        <amount>{{ item.totalQuantity.amount }}</amount>
        <Uom>
          <code>{{ item.totalQuantity.Uom.code }}</code>
        </Uom>
      </totalQuantity>
      
      <deliveryDate>
        <specialValue>{{ item.deliveryDate.specialValue }}</specialValue>
        <date>{{ item.deliveryDate.date }}</date>
      </deliveryDate>
      
      <grossPrice>
        <amount>{{ item.grossPrice.amount }}</amount>
        <Currency>
          <isoCode>{{ item.grossPrice.Currency.isoCode }}</isoCode>
        </Currency>
      </grossPrice>
      
      <CorrespondenceDetail>
        <number>{{ item.CorrespondenceDetail.number }}</number>
      </CorrespondenceDetail>
    </Details>
    {% endfor %}
    
  </SupplierConfirmation>
</semiramis>